[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = viktorashi
	# email = 33178074+viktorashi@users.noreply.github.com
	email = ioanvictorstan@gmail.com
[core]
	autocrlf = false
	excludesfile = /Users/viktorashi/.gitignore_global
	editor = nvim
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[credential]
	helper = store
[http]
	postBuffer = 1048576000
	getBuffer = 1024M
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	st = status
	stat = status
	P = push
  c = commit
	s = status
